* {
  padding: 2px 0px 0px 0px;
  margin: 0;
  font-family: SF Mono Powerline, "Symbols Nerd Font"; 
  font-size: 16px;
  /* font-weight: bold; */
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

#custom-arch {
  font-size: 20px;
  color: #00bfff; /* deepskyblue */
  padding: 0px 16px;
}

#custom-notifications {
  padding: 0px 15px 0px 15px;
  font-size: 18px;
}

#tray {
    font-size: 8px;
}


tooltip {
  background: rgba(0, 0, 0, 0.9);
}

tooltip label {
  padding: 10px;
}

#cpu,
#memory,
#backlight,
#custom-kb-layout,
#battery,
#network,
#pulseaudio,
#temperature,
#custom-pacman-update {
  font-size: 16px;
  margin: 5px 0px 5px 0px;
  border-radius: 16px;
  padding: 0px 16px;
  color: #0f0b0c;
}

#cpu {
  background-color: #fe3c44;
}

#memory {
  background-color: #FE5D40;
}

#temperature {
  background-color: #FD8343;
}

#custom-powermenu {
  padding: 0px 16px;
  border-radius: 16px;
}

#custom-wrap-left {
  font-size: 18px;
}

#custom-wrap-right {
  font-size: 18px;
}

#custom-pacman-update {
  background-color: #DCB157;
}

#workspaces button label {
  margin: 0px 5px;
  padding: 0px 0px 5px 0px;
}

#workspaces button:nth-child(1) label {
  color: #8aadf4;
}

#workspaces button:nth-child(2) label {
  color: #ed8796;
}

#workspaces button:nth-child(3) label {
  color: #a6da95;
}

#workspaces button:nth-child(4) label {
  color: #c6a0f6;
}

#workspaces button:nth-child(5) label {
  color: #f4dbd6;
}

#workspaces button:nth-child(6) label {
  color: #f5a97f;
}

#backlight {
  background-color: #B5B16D;
}

#custom-kb-layout {
  background-color: #B5B16D;
}

#battery {
  background-color: #68B398;
}

#pulseaudio {
  background-color: #2DB4B9;
}

#custom-right-arr {
  color: #8aadf4;
}

#network {
  background-color: #21b2cb;
}

#clock {
    color: white;
    border-radius: 20px;
    padding: 8px;
}

#custom-dot {
  color: #6e738d;
}

#custom-dot-alt {
  color: #a5adcb;
}

#custom-window-name {
  padding: 0px 16px;
}
